---
title: ZenHackAcademy
layout: default
menu: home
---

<div class="container py-5">

    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 text-center">
            <img class="w-50 h-auto" src="https://leoctf.dibris.unige.it/themes/core/static/img/ZHA.png">
        </div>
    </div>

    <!--
        <hr class="my-5 bg-white">
    -->

    <!-- ZenHack -->
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-lg-10 border-bottom border-zx1">
            <h3 class="text-zx1 text-center text-lg-left"><i class="fas fa-home"></i> About ZenHackAdemy</h3>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-10">
          <p>
	    Cybersecurity offers a wide range of attractive career opportunities in a variety of sectors (industry, governmental organizations, and research institutions).  Academia is called upon to help students to seize these opportunities.  Although many universities are offering courses providing the technical and methodological background necessary to undertake them, most university offerings fall short in providing the practical skills and mindset required by Cybersecurity experts.  This type of skills are currently developed by the Ethical Hacking community through the organization of live-fire Cybersecurity (e.g. Capture-the-Flag) competitions.</p>

	  <p>ZenHackAdemy is a collaborative project between the <a href="http://www.csec.it">Computer Security Research Laboratory</a> at <a href="http://www.dibris.unige.it">DIBRIS</a> of the <a href="https://www.unige.it">University of Genoa</a> and the <a href="http://zenhack.it">ZenHack</a> ethical hacking team that aims to bridge the gap between these two types of training and to develop new Cybersecurity training techniques and tools to train the next generation of Cybersecurity experts.
	    
            <p>To get in touch, please write to <a href="https://csec.it/people/alessandro_armando">prof. Alessandro Armando</a> (<a href="">Computer Security Laboratory</a>) or to <a href="mailto:info@zenhack.team">info@zenhack.team</a>.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-6 col-lg-5 text-center">
            <a href="https://unige.it/it/">
                <img src="images/unige.png" class="w-50">
            </a>
        </div>
        <div class="col-6 col-lg-5 text-center">
            <a href="https://zenhack.it">
                <img src="images/zenhack.png" class="w-50">
            </a>
        </div>
    </div>


    <!-- Projects -->
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-lg-10 border-bottom border-zx2">
            <h3 class="text-zx2 text-center text-lg-left"><i class="fas fa-rocket"></i>Projects</h3>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-10">
            <p>
            Over the years ZenHackAdemy has contributed to the following initiatives:</p>
	    <ul>
	      <li><a href="https://alessandroarmando.github.io/leonardo-unige-cyber/">Leonardo-UniGe Cybersecurity Scholarship Project (a.y. 2020-21)</a> by carrying out the hands-on training sessions, by setting up and running the CTF, and by contributing to design and implmentation of the Cyber Defence Simulation</li>
	      <li><a href="">Boeing-UniGe Scholarship Project (<a href="https://csec.it/events/boeing-ctf/index">a.y. 2017-18</a>, <a href="https://csec.it/events/boeing-ctf-2018/index">a.y. 2018-19</a>, a.y. 2019-20): by designing and carrying out the hands-on training sessions as well as by setting up and running the CTF</li>
	      <li><a href="https://cyberchallenge.it/">CyberChallenge.IT</a> (academic years 2017-18, 2018-19, 2019-20, 2020-21): ZenHackAdemy has contributed to training the UniGe Team.</li>

        </div>
    </div>

    <!-- Members -->
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-lg-10 border-bottom border-zx3">
            <h3 class="text-zx3 text-center text-lg-left"><i class="fas fa-user-shield"></i>People</h3>
        </div>
    </div>

    <div class="row">

        {% for member in site.data.members %}

        <div class="col-md-3 d-none d-md-block align-items-center justify-content-center mt-5">

            <div class="col-12 text-center">
                <img src="images/members/{{member.nickname}}.jpg"
                    class="text-center rounded w-75 h-auto border border-white">
            </div>
            <div class="col-12 text-center">
                <h5 class="my-1 mt-3">{{member.name}}</h5>
                <!-- <p class="my-1"><a href="{{member.link}}">@{{member.nickname}}</a></p> -->
                <!-- <p class="my-1"> -->
                <!--     {% for category in member.ctf %} -->
                <!--     <span class="badge border-white badge-{{category}}">{{category}}</span> -->
                <!--     {% endfor %} -->
                <!-- </p> -->
                <p class="my-1">{{member.description}}</p>
            </div>
        </div>

        <div class="col-12 d-flex d-md-none align-items-center justify-content-center mt-3">

            <div class="col-3 text-center">
                <img src="images/members/{{member.nickname}}.jpg"
                    class="text-center rounded w-100 h-auto border border-white">
            </div>
            <div class="col-9 text-left">
                <h5 class="my-1 mt-3">{{member.name}}</h5>
                <p class="my-1"><a href="{{member.link}}">@{{member.nickname}}</a></p>
                <p class="my-1">
                    {% for category in member.ctf %}
                    <span class="badge border-white badge-{{category}}">{{category}}</span>
                    {% endfor %}
                </p>
                <p class="my-1">{{member.description}}</p>
            </div>
        </div>

        {% endfor %}

    </div>

</div>
