<footer class="bg-base02 py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-4 col-lg-2">
                <a href="https://unige.it/it/">
                    <img class="w-75" src="/images/unige.png">
                </a>
            </div>
            <div class="col-4">
                <a href="/">
                    <img class="w-75" src="https://leoctf.dibris.unige.it/themes/core/static/img/ZHA.png" style="max-height: 70px; max-width: 80px;">
                </a>
            </div>
            <div class="col-4 col-lg-2">
                <a href="https://www.dibris.unige.it/">
                    <img class="w-75" src="/images/dibris.png">
                </a>
            </div>
        </div>
    </div>
</footer>
