<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ZenHackAdemy is a collaborative project between the Computer Security Research Laboratory at DIBRIS of the University of Genoa and the ZenHack ethical hacking team that aims to bridge the gap between these two types of training and to develop new Cybersecurity training techniques and tools to train the next generation of Cybersecurity experts.">

    <meta name="author" content="ZenHackAdemy">
    <meta name="robots" content="index,follow">
    <meta name="rating" content="general" />

    <title>ZenHackAdemy</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ "/site.webmanifest" | prepend: site.baseurl }}">
    <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#586e75">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="ZenHackAdemy" />
    <meta name="twitter:creator" content="ZenHack" />
    <meta name="twitter:title" content="ZenHackAdemy" />
    <meta name="twitter:description" content="ZenHackAdemy is a collaborative project between the Computer Security Research Laboratory at DIBRIS of the University of Genoa and the ZenHack ethical hacking team that aims to bridge the gap between these two types of training and to develop new Cybersecurity training techniques and tools to train the next generation of Cybersecurity experts." />
    <meta meta="twitter:image" content="{{ "/social.png" | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="ZenHackAdemy">
    <meta property="og:description" content="ZenHackAdemy is a collaborative project between the Computer Security Research Laboratory at DIBRIS of the University of Genoa and the ZenHack ethical hacking team that aims to bridge the gap between these two types of training and to develop new Cybersecurity training techniques and tools to train the next generation of Cybersecurity experts.">
    <meta property="og:url" content="{{ "/" | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="{{ "social.png" | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:site_name" content="ZenHackAdemy" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/syntax.css" | prepend: site.baseurl }}">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/3fa84f593d.js" crossorigin="anonymous"></script>
</head>
